.formLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formOverflow {
  height: 200px;
  overflow-y: auto;
}

.errors {
  color: red;
  padding: 0px;
  margin: 0px;
  font-size: small;
}
