.avatarForm {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.input {
  display: none;
}

.inputLabel {
  width: 100px;
  padding: 5px;
  border: 2px solid rgb(3, 3, 67);
  border-radius: 20px;
  text-align: center;
  color: rgb(3, 3, 67);
}
